node_modules/
.pnpm-store/
.next/
dist/
coverage/
.turbo/
*.tsbuildinfo

.env
.env.*
!.env.example
!.env.*.example

.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

playwright-report/
test-results/

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example

.DS_Store
*.log

# Cachés locales de Backstage
.cache/

**/.env*
!**/.env.example
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/requirements.lock.tmp
